<AbsoluteLayout
    style=" width: 360pt;"
>
    <StackLayout>
        <Label text="Closest PHN Location:" class="small-title background">

        </Label>
        <Image src="~/images/clarion.png" width="360pt"></Image>
        <Button text="Locations" class="tile"
                style=" height: 80pt; font-size: 24pt;background-color: #00817d; background-image: ~/images/Icon_Locations.png;  background-repeat: no-repeat; background-position: 310 25; border-radius: 5pt;"
                (tap)="goToLocations()"
        >
        </Button>

        <Label text="Services" class="tile background"
               style="background-image: ~/images/Icon_Services.png;  background-repeat: no-repeat; background-position: 303 25;">
        </Label>
        <Label text="Providers" class="tile background"
               style="background-image: ~/images/Icon_Providers.png;  background-repeat: no-repeat; background-position: 304 25;">
        </Label>
    </StackLayout>
    <Label
        top="207"
        left="2"
        text="Clarion Urgent Care"
        class="alpha double-pica col-12"
    >

    </Label>
    <Label
        top="235"
        left="2"
        text="30 Pinnacle Drive"
        class="alpha-two great-primer col-12"
    >

    </Label>
    <Label
        top="256"
        left="2"
        text="Clarion, PA 16214"
        class="alpha-two great-primer col-12"
    >

    </Label>
    <Label
        top="256" left="300" text="5.2 mi" class="alpha-two great-primer"
    >

    </Label>
    <Image src="~/images/Icon_Directions.png" top="210" left="300">

    </Image>
</AbsoluteLayout>
