<StackLayout>
    <Label
        text=" Providers"
        class="small-title alpha"
        row="0"
        height="24"
        orientation=""
        style="background-image: url('res://back_circle_sm');
                background-repeat: no-repeat;
                background-size: auto;
                background-position: left center;
                padding-left: 30pt;
                line-height: auto;"
        (tap)="back()"
    >

    </Label>
    <ScrollView
        class="m-4"
    >

        <CardView
            elevation="40"
            radius="2"
            class="m-4"
        >
            <StackLayout
                style="background-color: white;"
                class="border-bottom"
            >
                <DockLayout orientation="horizontal" height="80">
                    <Label
                        (tap)="providersTap(i)"
                        text="Providers"
                        class="col-10 double-pica font-weight-bold primary"
                        height="80"
                        padding="23"
                        dock="left"
                    >

                    </Label>
                    <Image dock="right" src="res://icon_providers_location" class="col-2" height="40">

                    </Image>
                </DockLayout>
                <StackLayout
                    style="background-color: white;"
                    *ngFor="let item of providers; let i = index;"
                >
                    <DockLayout
                        orientation="horizontal"
                        visibility="{{providersVisible}}"
                    >
                        <Label
                            [text]="item.getName() + '\n' + item.getServiceName()"
                            textWrap="true"
                            class="m-20 data primary text-left white-background"
                            margin="0 20 20 23"
                            visibility="{{providersVisible}}"
                            (tap)="callHome()"
                            dock="left"
                        >

                        </Label>
                        <Image
                            dock="right"
                            [src]="item.getImage()"
                            height="70"
                            width="70"
                            visibility="{{providersVisible}}"
                            class="pull-right img-circle"
                            stretch="aspectFill"
                            style="border-radius: 50%; margin-right: 20pt;"
                        >
                        </Image>
                    </DockLayout>
                    <Button
                        text="Bio"
                        visibility="{{providersVisible}}"
                        (tap)="gotoProvider(i)"
                        width="100"
                        class="btn pull-left primary-background"
                        style="color: white; float: left;"
                        margin="-20 0 20 20"
                    >
                    </Button>
                </StackLayout>
            </StackLayout>
        </CardView>
    </ScrollView>
</StackLayout>
