.drawerContentButton {
    margin: 10;
    horizontal-align: left;
}

.sideStackLayout {
  padding: 20pt;
    background-color: rgba(255,255,255,0.8);
}

.sideTitleStackLayout {
    height: 56;
    text-align: center;
    vertical-align: center;
}

.sideLabel {
  padding: 20pt;
  horizontal-align: center;
}

.sideLightGrayLabel {
    background-color: lightgray;
}
