<ActionBar title="My PHN">
    <StackLayout
        orientation="horizontal"
        ios:horizontalAlignment="center"
        android:horizontalAlignment="left"
    >
        <Image src="~/images/PHN LOGO.png" class="logo">

        </Image>
        <StackLayout>
            <Label text="MY">

            </Label>
            <Label text="PHN" class="font-weight-bold">

            </Label>
        </StackLayout>
        <!-- TODO: add favorites functionality
        <StackLayout orientation="vertical">
            <Image src="~/images/Icon_Favorite.png" class="action-image" (tap)="favorites()">

            </Image>
            <Label text="Favorites"  class="favorites">

            </Label>
        </StackLayout> -->
        <StackLayout orientation="vertical">
            <Image src="~/images/Icon_Search.png" class="action-image" (tap)="search()">

            </Image>
            <Label text="Search PHN"  class="search-phn">

            </Label>
        </StackLayout>
    </StackLayout>
</ActionBar>
<RadSideDrawer
    tkExampleTitle
    tkToggleNavButton
    showOverNavigation="true"
    [drawerLocation]="SideDrawerLocation.Right"
>
    <StackLayout
        tkDrawerContent
        class="sideStackLayout"
        height="670"
    >
        <StackLayout
            *ngFor="let item of routes;let first = first; let last = last;"
        >
            <Label
                text="{{item.name}}"
                class="double-pica sideLabel"
                (tap)="goToLocations(item.url)"
            >

            </Label>
            <StackLayout class="hr-light" width="130" [class.hidden]="last">

            </StackLayout>
        </StackLayout>
        <Image
            src="~/images/Shape Copy 2.png"
            style="horizontal-align: center; margin: 12pt;"
            (tap)="onCloseDrawerTap()"
            height="40"
        >

        </Image>
    </StackLayout>
    <DockLayout tkMainContent>
        <TabView
            #ref
            (selectedIndexChanged)="onSelectedIndexChanged($event)"
            width="100%"
            height="50"
            dock="bottom"
        >
            <AbsoluteLayout
                *tabItem="{title: 'Home',  iconSource: '~/images/Home.png'}"
                height="0"
            >

            </AbsoluteLayout>
            <StackLayout
                *tabItem="{title: 'Portal', iconSource: '~/images/Portal.png'}"
                height="0"
            >

            </StackLayout>
            <StackLayout
                *tabItem="{title: 'News', iconSource: '~/images/News.png'}"
                height="0"
            >

            </StackLayout>
            <StackLayout
                *tabItem="{title: 'More', iconSource: '~/images/More.png'}"
                height="0"
            >

            </StackLayout>
        </TabView>
        <router-outlet>

        </router-outlet>
    </DockLayout>
</RadSideDrawer>
