<!--
     TODO: figure out how to position PHN logo in center and search icon/text
     on right side of ActionBar
   -->

<ActionBar title="My PHN">
    <ActionItem
        (tap)="goBack()"
        text="< Back"
        ios.position="left"
        android.systemIcon="ic_menu_back"
        android.position="actionBar"
    >

    </ActionItem>
    <StackLayout
        orientation="horizontal"
    >
        <StackLayout
            orientation="horizontal"
        >
            <Image
                src="res://phn_logo"
                class="logo"
                horizontalAlignment="center"
            >

            </Image>
        </StackLayout>
        <!--
             TODO: add favorites functionality and add icon_favorite png to img resource folders

             <StackLayout orientation="vertical">
             <Image src="res://icon_favorite" class="action-image" (tap)="favorites()">

             </Image>
             <Label text="Favorites"  class="favorites">

             </Label>
             </StackLayout>

           -->

        <StackLayout orientation="vertical" horizontalAlignment="right" ios.position="right" >
            <Image src="res://icon_search" class="action-image" (tap)="search()" >

            </Image>
            <Label text="Search PHN"  class="search-phn">

            </Label>
        </StackLayout>
    </StackLayout>
</ActionBar>
<DockLayout tkMainContent>
    <TabView
        #ref
        (selectedIndexChanged)="onSelectedIndexChanged($event)"
        width="100%"
        height="{{heightVal}}"
        dock="bottom"
        class="bottomDock"
    >
        <AbsoluteLayout
            *tabItem="{title: 'Home',  iconSource: 'res://home'}"
            height="0"
        >

        </AbsoluteLayout>
        <StackLayout
            *tabItem="{title: 'Portal', iconSource: 'res://portal'}"
            height="0"
        >

        </StackLayout>
        <StackLayout
            *tabItem="{title: 'News', iconSource: 'res://news'}"
            height="0"
        >

        </StackLayout>

        <!-- TODO: add appropriate resources for these -->

        <StackLayout
            *tabItem="{title: 'Search', iconSource: 'res://news'}"
            height="0"
        >

        </StackLayout>
        <StackLayout
            *tabItem="{title: 'Locations', iconSource: 'res://news'}"
            height="0"
        >

        </StackLayout>
        <StackLayout
            *tabItem="{title: 'Services', iconSource: 'res://news'}"
            height="0"
        >

        </StackLayout>
        <StackLayout
            *tabItem="{title: 'Providers', iconSource: 'res://news'}"
            height="0"
        >

        </StackLayout>
    </TabView>
    <router-outlet>

    </router-outlet>
</DockLayout>
