<ActionBar title="My PHN">
    <StackLayout
        orientation="horizontal"
        ios:horizontalAlignment="center"
        android:horizontalAlignment="left"
    >
        <Image src="~/images/PHN LOGO.png" class="logo">

        </Image>
        <StackLayout orientation="vertical">
            <Label text="MY" class="my-phn">

            </Label>
            <Label text="PHN" class="my-phn bold">

            </Label>
        </StackLayout>
        <StackLayout orientation="vertical">
            <Image src="~/images/Icon_Favorite.png" class="action-image">

            </Image>
            <Label text="Favorites"  class="favorites">

            </Label>
        </StackLayout>
        <StackLayout orientation="vertical">
            <Image src="~/images/Icon_Search.png" class="action-image">

            </Image>
            <Label text="Search PHN"  class="search-phn">

            </Label>
        </StackLayout>
    </StackLayout>
</ActionBar>

<RadSideDrawer
    tkExampleTitle
    tkToggleNavButton
    showOverNavigation="true"
    [drawerLocation]="SideDrawerLocation.Right"
>
    <StackLayout tkDrawerContent class="sideStackLayout">

            <Label text="Favorites" class="sideLabel double-pica"></Label>
            <Label text="Search" class="double-pica sideLabel"></Label>
            <Label text="Home" class="double-pica sideLabel"></Label>
            <Button text="Locations" class="double-pica sideLabel " (tap)="goToLocations()"></Button>
            <Label text="Services" class="double-pica sideLabel"></Label>
            <Label text="Providers" class="double-pica sideLabel"></Label>
            <Label text="Patient Portal" class="double-pica sideLabel"></Label>
            <Label text="News" class="double-pica sideLabel"></Label>

        <Button text="Close Drawer" style="horizontal-align: center" (tap)="onCloseDrawerTap()"></Button>
    </StackLayout>

        <TabView tkMainContent>
            <AbsoluteLayout
                *tabItem="{title: 'Home',  iconSource: '~/images/Home.png'}"
                style=" width: 360pt;"
            >
                <StackLayout>
                    <Label text="Closest PHN Location:" class="small-title background">

                    </Label>
                    <Image src="~/images/clarion.png" width="360pt"></Image>
                    <Button text="Locations" class="tile"
                            style=" height: 80pt; font-size: 24pt;background-color: #00817d; background-image: ~/images/Icon_Locations.png;  background-repeat: no-repeat; background-position: 310 25; border-radius: 5pt;"
                            (tap)="goToLocations()"
                    >
                    </Button>

                    <Label text="Services" class="tile background"
                           style="background-image: ~/images/Icon_Services.png;  background-repeat: no-repeat; background-position: 303 25;">
                    </Label>
                    <Label text="Providers" class="tile background"
                           style="background-image: ~/images/Icon_Providers.png;  background-repeat: no-repeat; background-position: 304 25;">
                    </Label>
                </StackLayout>
                <Label
                    top="207"
                    left="2"
                    text="Clarion Urgent Care"
                    class="alpha double-pica col-12"
                >

                </Label>
                <Label
                    top="235"
                    left="2"
                    text="30 Pinnacle Drive"
                    class="alpha-two great-primer col-12"
                >

                </Label>
                <Label
                    top="256"
                    left="2"
                    text="Clarion, PA 16214"
                    class="alpha-two great-primer col-12"
                >

                </Label>
                <Label
                    top="256" left="300" text="5.2 mi" class="alpha-two great-primer"
                >

                </Label>
                <Image src="~/images/Icon_Directions.png" top="210" left="300">

                </Image>
            </AbsoluteLayout>

            <StackLayout *tabItem="{title: 'Portal', iconSource: '~/images/Portal.png'}">
                <router-outlet>
                </router-outlet>
            </StackLayout>


            <StackLayout *tabItem="{title: 'News', iconSource: '~/images/News.png'}">
                <Label text="Third tab item"></Label>
            </StackLayout>
            <StackLayout *tabItem="{title: 'More', iconSource: '~/images/More.png'}">
                <Label text="Third tab item"></Label>
                <CardView class="cardStyle" margin="8" elevation="40" radius="100" >
                    <GridLayout rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                        <Image src="~/images/Icon_Locations.png" stretch="aspectFit" verticalAlignment="stretch" col="1" row="1" rowSpan="2"></Image>
                        <Label class="createdBy text-left" horizontalAlignment="left" text="item.CreatedBy" row="1" col="2" textWrap="true"></Label>
                        <Label class="createdOn text-left" horizontalAlignment="left" text="item.UpdatedDate" row="2" col="2"></Label>

                        <Label horizontalAlignment="left" text="item.Title" colSpan="3" row="4" textWrap="true" col="1"></Label>
                        <Label  horizontalAlignment="left" text="item.Summary" textWrap="true" col="1" row="5" colSpan="3"></Label>
                    </GridLayout>
                </CardView>

            </StackLayout>
        </TabView>

</RadSideDrawer>
