.logo {
  height: 40pt;
}

.hidden {
  visibility: collapse;
}

.favorites {
  height: 16pt;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14pt;
  line-height: 16pt;
  text-align: center;
}

.search-phn {
  height: 16pt;
  width: 90pt;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14pt;
  line-height: 16pt;
  text-align: center;
}
