<CardView
    elevation="40"
    radius="2"
    height="90"
    style="margin-bottom: 8pt;"
    width="100%"
>
    <StackLayout
        orientation="horizontal"
        class="primary-background"
        width="100%"
    >
    <Image
    src="res://back_circle"
    height="30"
    weight="30"
    (tap)="back()"
    style="margin-left:10pt; margin-right:10pt;"
    >
    </Image>
        <Label
            text="{{county.getName()}}"
            class="double-columbian white font-weight-bold text-center"
            style="padding-left: 5pt; vertical-align: middle;"
        >

        </Label>
    </StackLayout>
</CardView>
<ListView
    [items]="locations"
    style="background-color: #cecece;"
    height="100%"
>
    <ng-template
        let-item="item"
        let-i="index"
        let-odd="odd"
        let-even="even"
    >
        <CardView
            elevation="40"
            radius="2"
            (tap)="listViewItemTap(i)"
            class="m-4"
        >
            <StackLayout
                orientation="horizontal"
                style="background-color: white; padding-top: 10pt; padding-bottom: 10pt;"
            >
                <!-- need to remove static image of clarion and add location-specific image -->
                <StackLayout> 
                <Image 
                    height="74"
                    width="74"
                    class="img-responsive"
                    style="background-image: {{item.getImage()}}; 
                        background-size: cover; 
                        background-repeat: no-repeat; 
                        background-position: center;
                        border-radius: 50%;
                        margin-left: 10pt;">
                </Image>
                </StackLayout>
                <StackLayout class="col-2">
                    <Image
                        src="res://icon_location"
                        height="20"
                        weight="20"
                        class="m-t-2 m-b-20"
                    >

                    </Image>

                    <Image
                        src="res://icon_phone"
                        height="20"
                        weight="20"
                        class="m-b-5"
                    >

                    </Image>

                    <Image
                        src="res://icon_address"
                        height="20"
                        weight="20"
                    >

                    </Image>
                </StackLayout>
                <StackLayout class="col-7">
                    <Label
                        [text]="item.getName()"
                        textWrap="true"
                        class="columbian font-weight-bold primary"
                        style="min-height: 40pt;"
                    >

                    </Label>

                    <Label
                        [text]="item.getPhone()"
                        textWrap="true"
                        class="font-weight-normal primary"
                    >

                    </Label>
                    <Label
                        [text]="item.getAddress().replace(', ', '\n')"
                        textWrap="true"
                        class="primary font-weight-normal"
                    >

                    </Label>
                </StackLayout>
            </StackLayout>
        </CardView>
    </ng-template>
</ListView>
