<DockLayout width="100%">
    <CardView
        elevation="40"
        radius="2"
        height="90"
        style="margin-bottom: 8pt;"
        dock="top"
    >
        <StackLayout class="primary-background">
            <Label
                text="{{county.getName()}}"
                class="double-columbian white font-weight-bold text-center"
                style="padding: 22pt;"
            >

            </Label>
        </StackLayout>
    </CardView>
    <ListView
        [items]="locations"
        class="col-12 m-4"
        style="background-color: #cecece;"
    >
        <ng-template
            let-item="item"
            let-i="index"
            let-odd="odd"
            let-even="even"
        >
            <CardView
                elevation="40"
                radius="2"
                (tap)="listViewItemTap(i)"
                class="m-4"
            >
                <StackLayout
                    orientation="horizontal"
                    style="background-color: white;"
                >
                    <StackLayout class="col-3">
                        <Image
                            src="~/images/clarion.png"
                            height="64"
                            width="64"
                            class="img-circle"
                        >

                        </Image>
                    </StackLayout>
                    <StackLayout class="col-2">
                        <Image
                            src="~/images/Icon_Location.png"
                            height="20"
                            weight="20"
                            class="m-t-2 m-b-20"
                        >

                        </Image>

                        <Image
                            src="~/images/Icon_Contact.png"
                            height="20"
                            weight="20"
                            class="m-b-5"
                        >

                        </Image>

                        <Image
                            src="~/images/Icon_Address.png"
                            height="20"
                            weight="20"
                        >

                        </Image>


                    </StackLayout>
                    <StackLayout class="col-7">
                        <Label
                            [text]="item.getName()"
                            textWrap="true"
                            class="columbian font-weight-bold primary"
                            style="min-height: 40pt;"
                        >

                        </Label>

                        <Label
                            [text]="item.getPhone()"
                            textWrap="true"
                            class="font-weight-bold primary"
                        >

                        </Label>
                        <Label
                            [text]="item.getAddress().replace(', ', '\n')"
                            textWrap="true"
                            class="primary"
                        >

                        </Label>
                    </StackLayout>
                </StackLayout>
            </CardView>
        </ng-template>
    </ListView>
</DockLayout>
