<DockLayout>
    <CardView
        elevation="40"
        radius="2"
        height="150"
        class="col-12"
        dock="top"
    >
        <GridLayout
            style="background-image: {{image}}; background-size: contain; background-repeat: no-repeat;"
            rows="*, 80"
        >
            <StackLayout
                class="alpha"
                row="1"
                (tap)="navigate()"
                orientation="horizontal"
            >
                <StackLayout class="col-10">
                    <Label
                        text="{{name}}"
                        class="double-pica"
                    >

                    </Label>
                    <Label
                        text="{{address}}"
                        class="english"
                        textWrap="true"
                    >

                    </Label>
                </StackLayout>
                <StackLayout class="col-2">

                    <Image
                        src="~/images/Icon_Directions.png"
                    >

                    </Image>
                    <Label
                        text="{{distance}}"
                        class="english"
                    >
                    </Label>
                </StackLayout>
            </StackLayout>
        </GridLayout>
    </CardView>
    <ScrollView
        class="m-4"
    >
        <StackLayout>
            <CardView
                elevation="40"
                radius="2"
                class="m-4 col-12"
                *ngFor="let item of cards; let i = index;"
            >
                <StackLayout
                    (tap)="listViewItemTap(i)"
                    style="background-color: white;"
                >
                    <DockLayout orientation="horizontal" height="80">
                        <Label
                            [text]="item.name"
                            class="col-10 double-pica font-weight-bold primary"
                            height="80"
                            padding="23"
                            dock="left"
                        >

                        </Label>
                        <Image dock="right" [src]="item.icon" class="col-2" height="40">

                        </Image>
                    </DockLayout>
                    <Label
                        [text]="item.data"
                        textWrap="true"
                        class="m-20 pica font-weight-bold primary text-center white-background"
                        visibility="{{item.visible ? 'visible' : 'collapse' }}"
                    >

                    </Label>
                </StackLayout>
            </CardView>
        </StackLayout>
    </ScrollView>
</DockLayout>
