<DockLayout>
    <CardView
        elevation="40"
        radius="2"
        height="250"
        class=""
        dock="top"
    >
        <GridLayout
            style="background-image: {{image}}; background-size: cover; background-repeat: no-repeat;"
            rows="24,*, 80"
        >
            <Label
                text="Locations"
                class="small-title alpha"
                row="0"
                height="24"
                orientation=""
                style="background-image: url('res://back_circle_sm'); 
                        background-repeat: no-repeat; 
                        background-size: auto; 
                        background-position: left center;
                        padding-left: 30pt;
                        line-height: auto;"                
                (tap)="back()"
            >

            </Label>
            <StackLayout
                class="alpha"
                row="2"
                style="padding-top:5pt;"
                (tap)="navigate()"
            >
                <StackLayout
                    class="row"
                    orientation="horizontal"
                >
                    <Label
                        text="{{name}}"
                        class="col-11 location-name"
                        textWrap="true"
                        style="margin-top: -5pt; line-height: -4pt;"
                    >
                    </Label>

                    <Image
                        src="res://directions"
                        class="col-2"
                        height="40"
                    >
                    </Image>
                </StackLayout>
                <StackLayout orientation="horizontal">
                    <Label
                        text="{{address}}"
                        class="english col-11 font-weight-normal"
                        textWrap="true"
                        style="margin-top:-2pt; line-height:-1pt;"
                    >

                    </Label>
                    <Label
                        text="{{distance}}"
                        class="distance col-2"
                    >

                    </Label>
                </StackLayout>
            </StackLayout>
        </GridLayout>
    </CardView>
    <ScrollView
        class="m-4"
    >
        <StackLayout>
            <CardView
                elevation="40"
                radius="2"
                class="m-4"
                *ngFor="let item of cards; let i = index;"
            >
                <StackLayout
                    style="background-color: white;"
                >
                    <DockLayout orientation="horizontal" height="80">
                        <Label
                            (tap)="listViewItemTap(i)"
                            [text]="item.name"
                            class="col-10 double-pica font-weight-bold primary"
                            height="80"
                            padding="23"
                            dock="left"
                        >

                        </Label>
                        <Image dock="right" [src]="item.icon" class="col-2" height="40">

                        </Image>
                    </DockLayout>
                    <DockLayout orientation="horizontal" visibility="{{item.visible ? 'visible' : 'collapse' }}">
                        <Label
                            [text]="item.data"
                            textWrap="true"
                            class="m-20 data primary text-left white-background"
                            margin="0 20 20 23"
                            visibility="{{item.visible ? 'visible' : 'collapse' }}"
                            (tap)="callHome()"
                            dock="left"
                        >

                        </Label>
                        <Image dock="right" [src]="item.image" height="70" visibility="{{item.visible && item.image ? 'visible' : 'collapse' }}">

                        </Image>
                    </DockLayout>
                </StackLayout>
            </CardView>
            <CardView
                elevation="40"
                radius="2"
                class="m-4"
            >
                <StackLayout
                    style="background-color: white;"
                    class="border-bottom"
                >
                    <DockLayout orientation="horizontal" height="80">
                        <Label
                            (tap)="providersTap(i)"
                            text="Providers"
                            class="col-10 double-pica font-weight-bold primary"
                            height="80"
                            padding="23"
                            dock="left"
                        >

                        </Label>
                        <Image dock="right" src="res://icon_providers_location" class="col-2" height="40">

                        </Image>
                    </DockLayout>
                    <StackLayout
                        style="background-color: white;"
                        *ngFor="let item of providers; let i = index;"
                    >
                        <DockLayout 
                            orientation="horizontal" 
                            visibility="{{providersVisible}}"
                        >
                            <Label
                                [text]="item.name + '\n' + item.data"
                                textWrap="true"
                                class="m-20 data primary text-left white-background"
                                margin="0 20 20 23"
                                visibility="{{providersVisible}}"
                                (tap)="callHome()"
                                dock="left"
                            >

                            </Label>
                            <Image 
                                dock="right" 
                                [src]="item.image" 
                                height="70" 
                                width="70"
                                visibility="{{providersVisible}}"
                                class="pull-right img-circle"
                                stretch="aspectFill"
                                style="border-radius: 50%; margin-right: 20pt;"
                            >
                            </Image>
                        </DockLayout>
                        <Button 
                            text="Bio" 
                            visibility="{{providersVisible}}" 
                            (tap)="gotoProvider(i)"
                            width="100"
                            class="btn pull-left primary-background"
                            style="color: white; float: left;"
                            margin="-20 0 20 20"
                        >
                        </Button>
                    </StackLayout>
                </StackLayout>
            </CardView>
        </StackLayout>
    </ScrollView>
</DockLayout>
