<StackLayout>

    <Image src="{{image}}" width="360pt"></Image>

    <CardView>
        <Label
            top="207"
            left="2"
            text="{{name}}"
            class="alpha double-pica col-12"
        >

        </Label>
        <Label
            top="235"
            left="2"
            text="{{address}}"
            textWrap="true"
            class="alpha-two great-primer col-12"
            style="height: 70pt;"
        >

        </Label>

        <Label
            top="256"
            left="300"
            text="{{distance}}"
            class="alpha-two great-primer"
        >

        </Label>
        <Image
            src="~/images/Icon_Directions.png"
            top="210"
            left="300"
            (tap)="navigate()"
        >

        </Image>
    </CardView>

    <ListView
        [items]="cards"
        width="375"
        height="350"
        style="background-color: #9d9d9d;"
    >
        <ng-template
            let-item="item"
            let-i="index"
            let-odd="odd"
            let-even="even"
        >
                <CardView
                    elevation="40"
                    radius="2"
                    height="162pt"
                    width="360pt"
                    (tap)="listViewItemTap(i)"
                >
                    <StackLayout>
                        <Label
                            [text]="item.name"
                            textWrap="true"
                            class="double-pica bold primary center white-background"
                        >

                        </Label>

                        <Label
                            [text]="item.data"
                            textWrap="true"
                            class="pica bold primary center white-background"
                        >

                        </Label>

                    </StackLayout>
                </CardView>
        </ng-template>
    </ListView>
</StackLayout>
