<StackLayout>
    <Label text="Locations"></Label>

    <ListView
        [items]="counties"
        class="small-spacing"
        width="370"
        height="500"
    >
        <ng-template
            let-item="item"
            let-i="index"
            let-odd="odd"
            let-even="even"
        >
            <StackLayout orientation="horizontal">
                <CardView
                    class="cardStyle"
                    margin="8"
                    elevation="40"
                    radius="100"
                    [class.hidden]="odd"
                    height="80pt"
                    width="176pt"
                    (tap)="listViewItemTap(i)"
                >
                        <Label  horizontalAlignment="left" [text]="item.getName()" textWrap="true">

                        </Label>
                </CardView>

                <CardView
                    class="cardStyle"
                    margin="8"
                    elevation="40"
                    radius="100"
                    [class.hidden]="odd"
                    height="80pt"
                    width="176pt"
                    (tap)="listViewItemTap(i+1)"
                >
                    <Label [class.hidden]="i + 1 >= counties.length"
                           horizontalAlignment="left" [text]="i + 1 < counties.length ? counties[i + 1].getName() : 'null'" textWrap="true" >

                        </Label>

                </CardView>

            </StackLayout>

        </ng-template>
    </ListView>

</StackLayout>
