<StackLayout width="100%" style="background-color: #cecece;">
    <CardView
        elevation="40"
        radius="2"
        class=""
    >
    <!-- Locations Header Bar -->
        <StackLayout
            class="primary-background"
        >
            <StackLayout
                class="primary-background"
                height="90pt"
                orientation="horizontal"
            >
                <Image
                    src="res://icon_location_home"
                    height="30"
                    class="col-2 m-4"
                >

                </Image>
                <Label
                    text="Locations"
                    class="double-columbian white font-weight-bold col-10"
                    style="padding: 22pt;"
                >

                </Label>
            </StackLayout>
        </StackLayout>
    </CardView>
            <SegmentedBar
                [items]="myItems"
                selectedIndex="0"
                class="m-5"
                (selectedIndexChange)="onSelectedIndexChange($event)"
                style="selected-background-color: #00817d;
                       color: #00817d;
                       background-color: #cecece;
                       font-size: 10;"
            >

            </SegmentedBar>
    <!-- Sorted by Distance -->
    <ListView
        [items]="sortedDistance"
        visibility="{{ visibility2 ? 'visible' : 'collapsed' }}"
        height="418"
        class="by-dist"
        style="background-color: #cecece;"
    >
        <ng-template
            let-item="item"
            let-i="index"
            let-odd="odd"
            let-even="even"
        >
            <CardView
                elevation="40"
                radius="2"
                height="162pt"
                class="m-4 col-12"
                (tap)="listViewItemTap(i)"
            >
                <StackLayout class="p-10" style="background-color: white;">
                    <StackLayout orientation="horizontal">
                        <Image src="res://directions_nearme"
                               height="40"
                               class="col-2"
                        >

                        </Image>
                        <Image src="res://icon_location_nearme"
                               height="20"
                               class="col-2"
                        >

                        </Image>
                        <Label
                            [text]="item.properties.title"
                            class="primary col-7 columbian font-weight-bold"
                            textWrap="true"
                        >

                        </Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal">
                        <Label
                            [text]="item.properties.distance"
                            class="primary col-2"
                        >

                        </Label>
                        <Image src="res://icon_phone_nearme"
                               height="20"
                               class="col-2"
                        >

                        </Image>
                        <Label
                            [text]="item.properties.phone"
                            class="primary col-7"
                        >

                        </Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal">
                        <Label
                            class="primary col-2"
                        >

                        </Label>
                        <Image src="res://icon_address_nearme"
                               height="20"
                               class="col-2"
                        >

                        </Image>

                        <Label
                            text="{{item.properties.address.replace(', ', '\n')}}"
                            class="primary col-7"
                            textWrap="true"
                        >

                        </Label>
                    </StackLayout>
                </StackLayout>
            </CardView>
        </ng-template>
    </ListView>

    <!-- Sorted Alphabetically -->
    <ListView
        [items]="sortedAlphabetically"
        visibility="{{ visibility3 ? 'visible' : 'collapsed' }}"
        height="418"
        class="by-alpha"
        style="background-color:#cecece;"
    >
        <ng-template
            let-item="item"
            let-i="index"
            let-odd="odd"
            let-even="even"
        >
            <CardView
                elevation="40"
                radius="2"
                height="162pt"
                class="m-4 col-12"
                (tap)="listViewItemTap(i)"
            >
                <StackLayout class="p-10" style="background-color: white;">
                    <StackLayout orientation="horizontal">
                        <Image src="res://directions_nearme"
                               height="40"
                               class="col-2"
                        >

                        </Image>
                        <Image src="res://icon_location_nearme"
                               height="20"
                               class="col-2"
                        >

                        </Image>
                        <Label
                            [text]="item.properties.title"
                            class="primary col-7 columbian font-weight-bold"
                            textWrap="true"
                        >

                        </Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal">
                        <Label
                            [text]="item.properties.distance"
                            class="primary col-2"
                        >

                        </Label>
                        <Image src="res://icon_phone_nearme"
                               height="20"
                               class="col-2"
                        >

                        </Image>
                        <Label
                            [text]="item.properties.phone"
                            class="primary col-7"
                        >

                        </Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal">
                        <Label
                            class="primary col-2"
                        >

                        </Label>
                        <Image src="res://icon_address_nearme"
                               height="20"
                               class="col-2"
                        >

                        </Image>

                        <Label
                            text="{{item.properties.address.replace(', ', '\n')}}"
                            class="primary col-7"
                            textWrap="true"
                        >

                        </Label>
                    </StackLayout>
                </StackLayout>
            </CardView>
        </ng-template>
    </ListView>
    <!-- traditional view -->
    <ListView
        [items]="counties"
        class="by-county"
        visibility="{{ visibility1 ? 'visible' : 'collapsed' }}"
        style="background-color: #cecece;"
        height="418"
    >
        <ng-template
            let-item="item"
            let-i="index"
            let-odd="odd"
            let-even="even"
        >
            <StackLayout
                orientation="horizontal"
                horizontalAlignment="center"
            >
                <CardView
                    elevation="40"
                    radius="2"
                    [class.hidden]="odd"
                    height="80pt"
                    class="m-4 col-6"
                    (tap)="listViewItemTap(i)"
                    horizontalAlignment="center"
                >
                    <Label
                        [text]="item.getName()"
                        textWrap="true"
                        class="great-primer font-weight-bold primary text-center white-background py-16"
                    >

                    </Label>
                </CardView>
                <CardView
                    elevation="40"
                    radius="2"
                    [class.hidden]="odd || i + 1 >= counties.length "
                    height="80pt"
                    class="m-4 col-6"
                    (tap)="listViewItemTap(i+1)"
                >
                    <Label
                        [class.hidden]="i + 1 >= counties.length"
                        [text]="i + 1 < counties.length ? counties[i + 1].getName() : i"
                        textWrap="true"
                        class="great-primer font-weight-bold primary text-center white-background py-16"
                    >

                    </Label>
                </CardView>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>
