<StackLayout width="320">
    <CardView
        elevation="40"
        radius="2"
        class="col-12 m-4"
    >
        <StackLayout
            class="primary-background"
            width="312pt"
        >
            <StackLayout
                class="primary-background"
                width="312pt"
                height="90pt"
                orientation="horizontal"
            >
                <Image
                    src="~/images/Icon_Locations.png"
                    height="30"
                    class="col-2 m-4"
                >

                </Image>
                <Label
                    text="Locations"
                    class="double-columbian white font-weight-bold col-10"
                    style="padding: 22pt;"
                >

                </Label>
            </StackLayout>
        </StackLayout>
    </CardView>
    <CardView class="m-4">
        <StackLayout>
            <SegmentedBar
                [items]="myItems"
                selectedIndex="0"
                (selectedIndexChange)="onSelectedIndexChange($event)"
                style="font-size:10pt;"
            >

            </SegmentedBar>
        </StackLayout>
    </CardView>
    <!-- Sorted by Distance -->
    <ListView
        [items]="sortedDistance"
        visibility="{{ visibility2 ? 'visible' : 'collapsed' }}"
        height="418"
        class="by-dist"
    >
        <ng-template
            let-item="item"
            let-i="index"
            let-odd="odd"
            let-even="even"
        >
            <CardView
                elevation="40"
                radius="2"
                height="162pt"
                class="m-4 col-12"
                (tap)="listViewItemTap(i)"
            >
                <StackLayout class="m-10">
                    <StackLayout orientation="horizontal">
                        <Image src="~/images/Icon_Directions.png"
                               height="40"
                               class="col-2"
                        >

                        </Image>
                        <Image src="~/images/Icon_Location.png"
                               height="20"
                               class="col-2"
                        >

                        </Image>
                        <Label
                            [text]="item.properties.title"
                            class="primary col-7 columbian font-weight-bold"
                            textWrap="true"
                        >

                        </Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal">
                        <Label
                            [text]="item.properties.distance"
                            class="primary col-2"
                        >

                        </Label>
                        <Image src="~/images/Icon_Phone.png"
                               height="20"
                               class="col-2"
                        >

                        </Image>
                        <Label
                            [text]="item.properties.phone"
                            class="primary col-7"
                        >

                        </Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal">
                        <Label
                            class="primary col-2"
                        >

                        </Label>
                        <Image src="~/images/Icon_Address.png"
                               height="20"
                               class="col-2"
                        >

                        </Image>

                        <Label
                            text="{{item.properties.address.replace(', ', '\n')}}"
                            class="primary col-7"
                            textWrap="true"
                        >

                        </Label>
                    </StackLayout>
                </StackLayout>
            </CardView>
        </ng-template>
    </ListView>

    <!-- Sorted Alphabetically -->
    <ListView
        [items]="sortedAlphabetically"
        visibility="{{ visibility3 ? 'visible' : 'collapsed' }}"
        height="418"
        class="by-alpha"
    >
        <ng-template
            let-item="item"
            let-i="index"
            let-odd="odd"
            let-even="even"
        >
            <CardView
                elevation="40"
                radius="2"
                height="162pt"
                class="m-4 col-12"
                (tap)="listViewItemTap(i)"
            >
                <StackLayout class="m-10">
                    <StackLayout orientation="horizontal">
                        <Image src="~/images/Icon_Directions.png"
                               height="40"
                               class="col-2"
                        >

                        </Image>
                        <Image src="~/images/Icon_Location.png"
                               height="20"
                               class="col-2"
                        >

                        </Image>
                        <Label
                            [text]="item.properties.title"
                            class="primary col-7 columbian font-weight-bold"
                            textWrap="true"
                        >

                        </Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal">
                        <Label
                            [text]="item.properties.distance"
                            class="primary col-2"
                        >

                        </Label>
                        <Image src="~/images/Icon_Phone.png"
                               height="20"
                               class="col-2"
                        >

                        </Image>
                        <Label
                            [text]="item.properties.phone"
                            class="primary col-7"
                        >

                        </Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal">
                        <Label
                            class="primary col-2"
                        >

                        </Label>
                        <Image src="~/images/Icon_Address.png"
                               height="20"
                               class="col-2"
                        >

                        </Image>

                        <Label
                            text="{{item.properties.address.replace(', ', '\n')}}"
                            class="primary col-7"
                            textWrap="true"
                        >

                        </Label>
                    </StackLayout>
                </StackLayout>
            </CardView>
        </ng-template>
    </ListView>
    <!-- traditional view -->
    <ListView
        [items]="counties"
        class="by-county"
        visibility="{{ visibility1 ? 'visible' : 'collapsed' }}"
    >
        <ng-template
            let-item="item"
            let-i="index"
            let-odd="odd"
            let-even="even"
        >
            <StackLayout orientation="horizontal">
                <CardView
                    elevation="40"
                    radius="2"
                    [class.hidden]="odd"
                    height="80pt"
                    class="m-4 col-6"
                    (tap)="listViewItemTap(i)"
                >
                    <Label
                        [text]="item.getName()"
                        textWrap="true"
                        class="great-primer font-weight-bold primary text-center white-background py-16"
                    >

                    </Label>
                </CardView>
                <CardView
                    elevation="40"
                    radius="2"
                    [class.hidden]="odd || i + 1 >= counties.length "
                    height="80pt"
                    class="m-4 col-6"
                    (tap)="listViewItemTap(i+1)"
                >
                    <Label
                        [class.hidden]="i + 1 >= counties.length"
                        [text]="i + 1 < counties.length ? counties[i + 1].getName() : i"
                        textWrap="true"
                        class="great-primer font-weight-bold primary text-center white-background py-16"
                    >

                    </Label>
                </CardView>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>
