<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>453784066967-mlquu837vqhg54or851t38s7h4kjqggd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453784066967-mlquu837vqhg54or851t38s7h4kjqggd</string>
	<key>API_KEY</key>
	<string>AIzaSyBVWMNpkpKtRVm9FDuK60_VKvMLw1DXfVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>453784066967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.primaryhealth.MyPHN</string>
	<key>PROJECT_ID</key>
	<string>my-phn-19367</string>
	<key>STORAGE_BUCKET</key>
	<string>my-phn-19367.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453784066967:ios:b2108772c550b4a9</string>
	<key>DATABASE_URL</key>
	<string>https://my-phn-19367.firebaseio.com</string>
</dict>
</plist>