<ListView [items]="locations" style="background-color: #cecece;" height="100%">
    <ng-template
        let-item="item"
        let-i="index"
        let-odd="odd"
        let-even="even"
    >
        <StackLayout>
            <CardView
                visibility="{{i === 0 ? 'visible' : 'collapse'}}"
                class="m-4"
            >
                <StackLayout class="white-background">
                    <StackLayout orientation="horizontal">
                        <Image
                            src="res://icon_provider_bio"
                            height="26"
                            class="m-10"
                        >

                        </Image>
                        <Label
                            class="primary h3 p-10"
                            [text]="name"
                        >

                        </Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal">
                        <Image [src]="image" class="img-circle"
                               height="151"
                               width="50%"
                        >

                        </Image>
                        <StackLayout
                            orientation="horizontal"
                            height="21"
                            class="col-6 m-5"
                            verticalAlignment="top"
                        >
                            <Image
                                src="res://icon_service_bio"
                                height="21"
                                class="m-x-5"
                            >

                            </Image>
                            <Label
                                [text]="area"
                                class="m-x-5"
                            >

                            </Label>
                        </StackLayout>
                    </StackLayout>
                    <Label
                        class="body m-20"
                        [text]="desc"
                        style="color: #4a4a4a;"
                        textWrap="true"
                    >

                    </Label>
                    <Label
                        text="Visit {{name+'\n'}}at these Health Centers:"
                        textWrap="true"
                        class="primary m-20"
                    >

                    </Label>
                </StackLayout>
            </CardView>
            <CardView class="m-4">
                <StackLayout orientation="horizontal" class="white-background">
                    <StackLayout>
                        <Image
                            src="res://icon_location_bio"
                            height="40"
                            class="m-20"
                        >

                        </Image>
                        <Image
                            src="res://icon_address_bio"
                            height="36"
                            class="m-10"
                        >

                        </Image>
                        <Image
                            src="res://icon_phone_bio"
                            height="32"
                            class="m-10"
                        >

                        </Image>
                    </StackLayout>
                    <StackLayout>
                        <Label
                            class="primary h3 p-y-30"
                            [text]="item.getName()"
                        >

                        </Label>

                        <Label
                            class="primary"
                            [text]="item.getAddress().replace(', ', '\n')"
                            textWrap="true"
                        >

                        </Label>
                        <Label
                            class="primary font-weight-bold m-y-25"
                            [text]="item.getPhone()"
                        >

                        </Label>

                    </StackLayout>
                </StackLayout>
            </CardView>
        </StackLayout>
    </ng-template>
</ListView>
