.hidden {
  visibility: collapse;
}

StackLayout .image-cropper {
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

Image .img-circle {
  position: absolute;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
