<ListView [items]="locations" style="background-color: #cecece;" height="100%">
    <ng-template
        let-item="item"
        let-i="index"
        let-odd="odd"
        let-even="even"
    >
        <StackLayout>
            <CardView
                visibility="{{i === 0 ? 'visible' : 'collapse'}}"
                class="m-4"
            >
                <StackLayout class="white-background">
                    <Button text="Back" (tap)="back()">

                    </Button>
                    <StackLayout orientation="horizontal">
                        <Image
                            src="res://icon_provider_bio"
                            height="26"
                            class="m-20"
                        >

                        </Image>
                        <Label
                            class="primary h3 ios-fix"
                            style="padding-top:20pt;"
                            [text]="name"
                        >

                        </Label>
                    </StackLayout>
                    <StackLayout 
                    orientation="horizontal"
                    style="padding-left:20pt;"
                    >
                        <Image [src]="image" 
                                height="100"
                                width="100"
                                stretch="aspectFill"
                                style="border-radius: 50%;"
                        >

                        </Image>
                        <StackLayout
                            orientation="horizontal"
                            height="21"
                            class="col-6 m-5"
                            verticalAlignment="top"
                        >
                            <Image
                                src="res://icon_service_bio"
                                height="21"
                                class="m-x-5"
                            >

                            </Image>
                            <Label
                                [text]="area"
                                class="m-x-5"
                            >

                            </Label>
                        </StackLayout>
                    </StackLayout>
                    <Label
                        class="body m-20"
                        [text]="desc"
                        style="color: #4a4a4a;"
                        textWrap="true"
                    >

                    </Label>
                    <Label
                        text="Visit {{name+'\n'}}at these Health Centers:"
                        textWrap="true"
                        class="primary m-20"
                    >

                    </Label>
                </StackLayout>
            </CardView>
            <CardView class="m-4">
                <StackLayout orientation="horizontal" class="white-background">
                    <StackLayout>
                        <Image
                            src="res://icon_location_bio"
                            height="40"
                            class="m-10"
                        >

                        </Image>
                        <Image
                            src="res://icon_address_bio"
                            height="36"
                            class="m-10"
                        >

                        </Image>
                        <Image
                            src="res://icon_phone_bio"
                            height="32"
                            class="m-10"
                        >

                        </Image>
                    </StackLayout>
                    <StackLayout>
                        <Label
                            class="primary"
                            style="margin-top:20pt; margin-bottom: 26pt; font-size: 16pt; font-weight: bold;"
                            [text]="item.getName()"
                            textWrap="true"
                            (tap)="goToLocation(item.getId())"
                        >

                        </Label>
                        <Label
                            class="primary font-weight-normal"
                            [text]="item.getAddress().replace(', ', '\n')"
                            textWrap="true"
                            (tap)="navigate(item.getAddress())"
                        >

                        </Label>
                        <Label
                            class="primary font-weight-normal m-y-25"
                            [text]="item.getPhone()"
                            (tap)="call(item.getPhone())"
                        >

                        </Label>
                    </StackLayout>
                </StackLayout>
            </CardView>
        </StackLayout>
    </ng-template>
</ListView>
