<StackLayout width="100%" height="100%" style="background-color: #cecece;" >
    <CardView
        elevation="40"
        radius="2"
        height="90pt"
        class=""
    >
        <StackLayout
            class="primary-background"
            orientation="horizontal"
        >
            <Image
                src="res://icon_provider_home"
                height="30"
                class="col-2 m-4"
            >

            </Image>
            <Label
                text="Providers"
                class="double-columbian white font-weight-bold col-10"
                style="padding-left: 5pt; vertical-align: middle;"
            >

            </Label>
        </StackLayout>
    </CardView>
    <ListView
        [items]="services"
        style="background-color: #cecece;"
        separatorColor="transparent"
        >
        <ng-template
            let-item="item"
            let-i="index"
            let-odd="odd"
            let-even="even"
        >

            <StackLayout 
                orientation="horizontal"
                horizontalAlignment="center"
            >
            <WrapLayout horizontal-alignment="center">
                <CardView
                    elevation="40"
                    radius="2"
                    [class.hidden]="odd"
                    height="80pt"
                    width="48%"
                    margin="3"
                    (tap)="listViewItemTap(i)"
                >
                    <Label
                        [text]="item.getName()"
                        textWrap="true"
                        class="providers-card great-primer font-weight-bold primary text-center white-background py-16"
                        verticalAlignment="center"
                    >

                    </Label>
                </CardView>
                <CardView
                    elevation="40"
                    radius="2"
                    [class.hidden]="odd || i + 1 >= services.length "
                    height="80pt"
                    width="48%"                    margin="3"                    
                    (tap)="listViewItemTap(i+1)"
                >
                    <Label
                        [class.hidden]="i + 1 >= services.length"
                        [text]="i + 1 < services.length ? services[i + 1].getName() : i"
                        textWrap="true"
                        class="providers-card great-primer font-weight-bold primary text-center white-background py-16"
                        verticalAlignment="center"
                    >

                    </Label>
                </CardView>
            </WrapLayout>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>
