<StackLayout class="form" width="320">
    <TextField
        style="background-color: #FFFFFF;"
        [(ngModel)]="searchTerm"
        hint="Enter Search Term"
        returnKeyType="done"
        (returnPress)="search()"
        autocorrect="false"
        verticalAlignment="center"
        autocapitalizationType="none"
        class="input input-border m-10"
    >

    </TextField>
    <Button
        (tap)="search()"
        text="Search"
        style="background-color: #FFFFFF;"
        class="btn primary"
    >

    </Button>
</StackLayout>
